*.pyc
*.obj
*.o
*.d
*.exe
*.a
.DS_Store
*.log
*.log.csv
*.eep
*.elf
*.hex
*.lss
*.map
*.srec
*/.DS_Store
/build/
/bin/
/buildgcc/
/libs/boost
.vs
backend/bin
backend/build
backend/Debug
backend/x64
backend/.debug_time
backend/.release_time
backend/~AutoRecover.HomePlusPlus.vcxproj
CMakeSettings.json
resources/database
resources/config
