<div id="action-box" *ngIf="action">
  <mat-card class="action-header">
    <mat-card-title-group>
      <mat-icon mat-card-sm-image>router</mat-icon>
      <mat-card-title i18n>Name: {{action.name}}</mat-card-title>
      <mat-card-subtitle>{{action.id}}</mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content>
      <p [style.color]="action.color | hexColor" i18n="@@Color">Color</p>
      <p i18n>Icon: {{action.icon}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!editEnabled; else editActions">
      <mat-divider></mat-divider>
      <button mat-icon-button title="Edit action" i18n-title (click)="editAction()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button title="Delete action" i18n-title (click)="deleteAction()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
    <ng-template #editActions>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <form class="edit-form" [formGroup]="edit" (ngSubmit)="finishEdit()">
          <mat-form-field appearance="standard">
            <mat-label i18n="@@Name">Name</mat-label>
            <input matInput required type="text" formControlName="name" />
            <mat-error i18n>Name cannot be empty</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label i18n="@@Color">Color</mat-label>
            <input matInput type="color" formControlName="color" />
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label i18n="@@Icon">Icon</mat-label>
            <mat-select formControlName="icon">
              <mat-option value="" i18n>No icon</mat-option>
              <mat-option *ngFor="let icon of icons" [value]="icon[0]">{{icon[1]}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="edit-actions">
            <button mat-button type="reset" color="warn" (click)="cancelEdit()" i18n="@@Cancel">Cancel</button>
            <button mat-raised-button type="submit" color="primary" [disabled]="!edit.valid" i18n="@@Save">Save</button>
          </p>
        </form>
      </mat-card-actions>
    </ng-template>
  </mat-card>

  <div class="sub-action-panel">
    <h1 class="mat-h1">
      <span i18n>{action.subActions.length, plural, =0 {No Sub-Actions} =1 {{{action.subActions.length}} Sub-Action} other {{{action.subActions.length}} Sub-Actions}}</span>
      <mat-divider></mat-divider>
    </h1>

    <app-sub-action-list [subActions]="action.subActions" (edit)="sendAction()" (delete)="sendAction()">
    </app-sub-action-list>
  </div>

</div>
