<mat-card class="sub-action">
  <mat-card-header>
    <mat-card-title i18n>Call action</mat-card-title>
    <mat-icon mat-card-avatar>forward</mat-icon>
  </mat-card-header>
  <mat-card-content *ngIf="action$ | async as action">
    <p i18n>Action: {{action.name}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="edit.emit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
